.main-title {
  @include horizontal;
  i {
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 24px;
  }
}
.img-menu {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -1;
}

#main-menu {
  background-color: #f3f3f3;
  margin: auto;
  position: relative;
  margin-top: -60px;
  z-index: 1;
  border-radius: 40px 40px 0px 0px;
  max-width: 1450px;
  padding-bottom: 10px;
  #title-menu {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Shrikhand, "cursive";
  }
  #contenu-menu {
    @include grid3Column;
    column-gap: 20px;
    @media (max-width: 785px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 635px) {
      grid-template-columns: 1fr;
    }
    .name-menu {
      margin-left: 20px;
      font-weight: 400;
    }
    article {
      max-height: 35px;
      cursor: pointer;
      background-color: white;
      margin: 15px;
      border-radius: 20px;
      box-shadow: rgba(197, 194, 194, 0.35) 0px 5px 15px;
      display: flex;
      justify-content: space-between;
      padding: 13px 0px 13px 13px;
      flex: 1;
      overflow: hidden;
      flex-flow: row wrap;
      cursor: pointer;

      .menu-info {
        @include nowrap;
        flex: 1;

        p {
          margin: 0%;
          @include nowrap;
        }
      }
      .price-menu-box {
        .price-menu {
          display: flex;
          align-items: flex-end;

          height: 100%;
        }
      }
      .check-icon-box {
        margin: -13px -60px -20px 10px;
        @include horizontal;
        transition-duration: 0.5s;
        background-color: $color-tertiary;
        height: 62px;
        width: 60px;
        .check-icon {
          @include horizontal;
          background-color: white;
          border-radius: 50%;
          width: 27px;
          height: 27px;
          transform: rotate(-180deg);
          transition-duration: 0.5s;
          i {
            color: $color-tertiary;
          }
        }
      }

      &:hover {
        .check-icon-box {
          margin-right: 0px;
          .check-icon {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}
.btn-commander {
  @include button;
  @include horizontal;
  margin: 20px auto;
  position: relative;
  bottom: 10px;
  @media (max-width: 635px) {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
}
