@mixin horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid3Column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@mixin grid2Column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin forme {
  background: #f3f3f3;
  font-size: 1rem;
  padding: 20px 5px;
  text-align: center;
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin button {
  background-image: $gradient;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
@mixin animation {
  animation: vertical 0.6s linear 1;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
