@mixin horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid3Column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@mixin grid2Column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin forme {
  background: #f3f3f3;
  font-size: 1rem;
  padding: 20px 5px;
  text-align: center;
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin button {
  background-image: linear-gradient(0deg, $color-primary, $color-secondary);
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1.2rem;
}
